#+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++#
# This file is a .ucf for Mimas V2 (http://www.numato.com)                                            #
# To use it in your project :                                                                         #
# * Remove or comment the lines corresponding to unused pins in the project.                          #
# * Rename the used signals according to the your project.                                            #
# * For more detail refer the User Guide for Mimas V2 available at http://numato.com/fpga-cpld        #
#+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++#

#**************************************************************************************************************************************************#
#                                            UCF for Mimas V2                                                                                      #
#**************************************************************************************************************************************************#

CONFIG VCCAUX = "3.3" ;


###################################################################################################################################################
#                                                 DIP Switches                                                                                    #
################################################################################################################################################### 
    NET "a0"                LOC = C17     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;  #DP 8   IO_L29P_A23_M1A13_1        Sch = DP1   
    NET "a1"                LOC = C18     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;  #DP 7   IO_L29N_A22_M1A14_1        Sch = DP2
    NET "b0"                LOC = F18     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;  #DP 2   IO_L35N_A10_M1A2_1         Sch = DP7
    NET "b1"                LOC = F17     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;  #DP 1   IO_L35P_A11_M1A7_1         Sch = DP8
     
     
###################################################################################################################################################
#                                                    LEDs                                                                                         #
################################################################################################################################################### 
   NET "p0"                     LOC = P15     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;  #D1    IO_L74P_AWAKE_1         Sch = LED1
   NET "p1"                     LOC = P16     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;  #D2    IO_L74N_DOUT_BUSY_1     Sch = LED2
   NET "p2"                     LOC = N15     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;  #D3    IO_L50P_M1UDQS_1        Sch = LED3
   NET "p3"                     LOC = N16     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;  #D4    IO_L50N_M1UDQSN_1       Sch = LED4
     
